<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper clearfix">

        <div id="logo">
            <a href="/"><img src="../img/logo.png" alt="Simpler"></a>
        </div>

        <!-- nav -->

        <!--<ul id="nav" class="sf-menu">-->
            <!--<c:forEach items="${navigation}" var="nav">-->
                <!--<c:if test="${nav.parent == null}">-->
                    <!--<li class="${page.name.equals(nav.name)? 'current-menu-item' : ''}">-->
                        <!--<a href="?page=${nav.name}">${nav.caption.toString().toUpperCase()}</a>-->
                        <!--<jsp:include page="navigation/subnav.html">-->
                            <!--<jsp:param name="parent" value="${nav.id}"/>-->
                            <!--<jsp:param name="childesCount" value="${nav.childesCount}"/>-->
                        <!--</jsp:include>-->
                    <!--</li>-->
                <!--</c:if>-->
            <!--</c:forEach>-->
        <!--</ul>-->
        <ul id="nav" class="sf-menu">
            <li th:each="nav : ${navigation}" th:class="${page.name.equals(nav.name)? 'current-menu-item' : ''}" th:if="${nav.parent == null}">
                <a href="/" th:href="@{/(page=${nav.name})}" th:text="${nav.caption.toString().toUpperCase()}"></a>
                <div th:replace="view/navigation/subnav :: subnav(parent = ${nav.id}, childesCount = ${nav.childesCount})"></div>
                <!--<jsp:include page="navigation/subnav.jsp">-->
                    <!--<jsp:param name="parent" value="${nav.id}"/>-->
                    <!--<jsp:param name="childesCount" value="${nav.childesCount}"/>-->
                <!--</jsp:include>-->
            </li>
        </ul>

        <!-- ends nav -->


        <!-- comboNav -->

        <!-- slider holder -->
            <div class="clearfix" th:if="${page.fullHeader == true}"></div>
            <div id="slider-holder" class="clearfix" th:if="${page.fullHeader == true}">

                <!-- slider -->
                <div class="flexslider home-slider">
                    <ul class="slides">
                        <li>
                            <img src="img/slides/01.jpg" alt="alt text"/>
                        </li>
                        <li>
                            <img src="img/slides/02.jpg" alt="alt text"/>
                            <p class="flex-caption">Pellentesque habitant morbi feugiat vitae.</p>
                        </li>
                        <li>
                            <img src="img/slides/03.jpg" alt="alt text"/>
                        </li>
                    </ul>
                </div>
                <!-- ENDS slider -->

                <div class="home-slider-clearfix "></div>

                <!-- Headline -->
                <div id="headline">
                    <h4>HELLO, I AM FREE</h4>
                    <p class="headline-text">Simpler template is a totally FREE template for personal and commercial
                        projects.</p>
                    <p class="headline-text">If you are looking for a WordPress version try the <a
                            href="http://themeforest.net/item/simpler-wordpress-theme/1630783?ref=Ansimuz"
                            class="read-more">Premium Version</a></p>

                </div>
                <!-- ENDS headline -->


            </div>
            <!-- ENDS slider holder -->
    </div>
</header>
